./node_modules
*node_modules

# TypeScript build output
eth-listener/dist/
*.tsbuildinfo

# Environment files
eth-listener/.env

# Logs
*.log

# Local environment variables
*env
./.env


# Dim scraper data
dim-scraper/dist/

*__pycache__/
*.pyc
